
<div class="masthead">
<nav class="language-nav">
    <ul>
        <li><a href="#">CSS</a><li> 
        <li><a href="#">HTML</a><li> 
        <li><a href="#">Javascript</a><li> 
        <li><a href="#">Ruby</a><li> 
    </ul>
</nav>

<img class="logo"
src="assets/AA_Times_Logo.png" alt="App Academy Times logo">
    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016<li> 
        <li><a href="#">Today’s Paper</a><li> 
        <li><a href="#">Video</a><li> 
        <li>77°F<li> 
        <li>AAO +100%<li> 
    </ul>
 </div>
